@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Rubik:wght@600&display=swap');
html{
  background-color: black;
}
:root{
  --main-radius: 5px;
  --main-padding: 5px;
}
.main-grid{
	display: grid;
	height: 100vh;
	grid-template-columns: 0.5fr 1fr 0.8fr;
	grid-template-rows: 0.4fr 0.8fr 1.5fr 0.8fr;
	grid-template-areas:
		"nav nav nav"
		"sidebar Intro content1"
		"content2 content2 content3"
		"footer footer footer";
	grid-gap: 0.2rem;
	font-size: 12px;
	text-align: center;
}
h1{
	font-family: "Rubik", sans-serif;
	color: gold;
}
i a{
	color: white;
}
i a:hover{
	color: firebrick;
}
#navbar{
	background-color: #1a1a2e;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	font-size: 15px;
	width: 100%;
}
#navbar a {
	float: left;
	width: 20%;
	color:  white;
	text-decoration: none;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
}
#navbar a:hover{
	color: red;
}
#Intro{
  background-color: #16213e;
  grid-area: Intro;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-size: 14px;
  color: goldenrod;
  font-family: "Rubik", sans-serif;
}
#sidebar{
	background-color: #16213e;
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	color: white;
	font-family: "Montserrat", sans-serif;
}
#sidebar ul{
	list-style-type: circle;
	text-align: left;
	font-family: "Open Sans", sans-serif;
}
#content1{
	background-color: #16213e;
	grid-area: content1;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	color: goldenrod;
}
#content1 p{
	font-family: "Open Sans", sans-serif;
	color: white;
}