@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Rubik:wght@600&display=swap');
html{
  background-color: black;
}
:root{
  --main-radius: 5px;
  --main-padding: 5px;
}
.main-grid{
	display: grid;
	height: 100vh;
	grid-template-columns: 0.5fr 1fr 0.8fr;
	grid-template-rows: 0.4fr 0.8fr 1.5fr 0.8fr;
	grid-template-areas:
		"nav nav nav"
		"sidebar Intro content1"
		"content2 content2 content3"
		"footer footer footer";
	grid-gap: 0.2rem;
	font-size: 12px;
	text-align: center;
}
#navbar{
	background-color: #1a1a2e;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	font-size: 15px;
	width: 100%;
}